:root {
    --white: whitesmoke;
    --black: #363636;
    --cyan: #00d1b2;
    --blue: #3273dc;
    --green: #23d160;
    --yellow: #ffdd57;
    --red: #ff3860;
}

/* Imagen de presentacion */
.has-background-image {
    background-image: url('../assets/imgs/keyboard.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.has-background-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.hero-body {
    position: relative;
    z-index: 2;
}

/*  Fuente Bruno Ace SC */
@font-face {
    font-family: 'Bruno Ace SC';
    src: url('../assets/fonts/BrunoAceSC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.bruno-ace-sc-regular {
    font-family: 'Bruno Ace SC', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.borde-redondo {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}

/* Asterisco para campos requeridos */
.required.line {
    text-decoration: underline var(--red);
}

.required:after {
    content: ' *';
    color: var(--red);
}

.copy-btn {
    position: absolute;
    top: 2.5em;
    right: 1.5em;
    z-index: 10;
}

.info-languaje {
    position: absolute;
    top: -0.8em;
    right: 0.8em;
}

.custom-list {
    list-style: none;
    padding-left: 1.5em;
}

.custom-list li::before {
    content: '•';
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.btn-image {
    display: flex;
    align-items: center;
}

.btn-float {
	position:fixed;
	bottom:40px;
	right:40px;
	/*box-shadow: 2px 2px 3px #999;*/
}

/* Transforma un .svg blanco a negro */
.to-black {
    filter: invert(1) brightness(0) grayscale(100%);
}

/* Transforma un .svg negro a blanco */
.to-white {
    filter: invert(1) brightness(2) grayscale(0%);      
}