<!DOCTYPE html>
<html lang="es">
<head id="head">
</head>
<script src="/js/jquery/jquery-3.7.1.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/cargaComponente.js"></script>
<body>
    <!-- Navbar -->
    <nav id="navbar">
    </nav> 

    <!-- Sobre mí -->
    <section>
        <div>
            <h1>Sobre mí</h1>
            <p>Programador apasionado, con énfasis en back end, ingeniería de software y gestión de bases de datos. Experiencia en la creación de aplicaciones web utilizando metodologías ágiles y tradicionales, así como el uso de patrones de diseño.</p>

            <h2>Habilidades</h2>
            <ul>
                <li>HTML, CSS, JavaScript</li>
                <li>Node.js, Laravel, Spring</li>
                <li>Git, GitHub, GitLab</li>
            </ul>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
    </footer>
</body>
</html>
