<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Portafolio</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<script src="js/main.js"></script>
<body>
    <!-- Navbar -->
    <nav>
        <div>
            <a href="index.html">
                <h1>Mi Portafolio</h1>
            </a>
        </div>

        <a href="../index.html">Inicio</a>
        <a href="about.html">Sobre mí</a>
        <a href="contact.html">Contacto</a>
    </nav> 

    <!-- Sobre mí -->
    <section>
        <div>
            <h1>Sobre mí</h1>
            <p>Programador apasionado, con énfasis en back end, ingeniería de software y gestión de bases de datos. Experiencia en la creación de aplicaciones web utilizando metodologías ágiles y tradicionales, así como el uso de patrones de diseño.</p>

            <h2>Habilidades</h2>
            <ul>
                <li>HTML, CSS, JavaScript</li>
                <li>Node.js, Laravel, Spring</li>
                <li>Git, GitHub, GitLab</li>
            </ul>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div>
            <p>&copy; 2025 Mi Portafolio</p>
        </div>
    </footer>
</body>
</html>
