<!DOCTYPE html>
<html lang="es">
<head id="head">
</head>
<script src="../js/jquery/jquery-3.7.1.min.js"></script>
<script src="../js/main.js"></script>
<script src="../js/cargaComponente.js"></script>
<body>
    <!-- Navbar -->
    <nav id="navbar">
    </nav> 

    <!-- Contacto -->
    <section>
        <div>
            <ul>
                <li><a href="https://www.linkedin.com/in/diego-arturo-zamora-cruz-7a5355264/">Diego Zamora</a></li>
                <li><a href="https://github.com/diegozdgl10">@diegozdgl10</li>
            </ul>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
    </footer>
</body>
</html>
