<!DOCTYPE html>
<html lang="es">
<head id="head">
</head>
<script src="/js/jquery/jquery-3.7.1.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/cargaComponente.js"></script>
<script src="/js/ejercicios/mergeListasOrdenadas.js"></script>
<body>
    <!-- Navbar -->
    <nav id="navbar">
    </nav> 

    <!-- Ejercicio -->
    <div>
        <h1 id="titulo">Mezcla dos listas ordenadas</h1>
        <div id="tags">
        </div>
        
        <div id="descripcion">
            <h4>Descripcion:</h4>
            <p>Se dan dos listas ordenadas, <code>lista1</code> y <code>lista2</code>.</p>
            <p>Fusionar las dos listas en una lista ordenada.</p>
        </div>

        <div>
            <h4>Solucion:</h4>
            <img src="/assets/mergeListasOrd.png" width="50%" id="solucion">
        </div>

        <!-- TODO buscar forma de como mostrar la entrada y salida-->
    </div>

    <!-- Footer -->
    <footer id="footer">
    </footer>
</body>
</html>
