<!DOCTYPE html>
<html lang="es">
<head id="head">
</head>
<script src="/js/jquery/jquery-3.7.1.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/cargaComponente.js"></script>
<script src="/js/ejercicios/parentesisCorrectos.js"></script>
<body>
    <!-- Navbar -->
    <nav id="navbar">
    </nav> 

    <!-- Ejercicio -->
    <div>
        <h1 id="titulo">Parentesis correctos</h1>
        <div id="tags">
        </div>
        
        <div id="descripcion">
            <h4>Descripcion:</h4>
            <p>Dada una cadena <code>s</code> que sólo contiene los caracteres <code>'('</code>, <code>')'</code>, <code>'{'</code>, <code>'}'</code>, <code>'['</code> y <code>']'</code>, determine si la cadena de entrada es válida.</p>
            <p>Una cadena de entrada es válida si:</p>
            <ul>
                <li>Los corchetes abiertos deben estar cerrados por el mismo tipo de corchetes.</li>
                <li>Los corchetes abiertos deben cerrarse en el orden correcto.</li>
                <li>Cada corchete cerrado tiene su correspondiente corchete abierto del mismo tipo.</li>
            </ul>
        </div>

        <div>
            <h4>Solucion:</h4>
            <img src="/assets/parentesisCorrectos.png" width="50%" id="solucion">
        </div>

        <!-- TODO buscar forma de como mostrar la entrada y salida-->
    </div>

    <!-- Footer -->
    <footer id="footer">
    </footer>
</body>
</html>
