<!DOCTYPE html>
<html lang="es">
<head id="head">
</head>
<script src="/js/jquery/jquery-3.7.1.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/cargaComponente.js"></script>
<script src="/js/soluciones/numPalindromo.js"></script>

<body>
    <!-- Navbar -->
    <nav id="navbar">
    </nav> 

    <div>
        <h1>Numero palindromo</h1>
        <div>
            <div>JavaScript</div>
            <div>Ejercicios</div>
        </div>
        
        <div>
            <h4>Definicion:</h4>
            Dado un número entero <code>x</code>, devuelve <code>true</code> si <code>x</code> es un palindromo, y <code>false</code> en caso contrario.
        </div>

        <div>
            <h4>Solucion:</h4>
            <img src="/assets/numPalindromo.png" width="50%">
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
    </footer>
</body>
</html>
