<!DOCTYPE html>
<html lang="es" data-theme="light">
<head id="head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi Portafolio</title>
    <link rel="stylesheet" href="../../css/bulma/bulma.min.css" />
    <link rel="stylesheet" href="../../css/styles.css" />
</head>
<script src="../../js/jquery/jquery-3.7.1.min.js"></script>
<script src="../../js/main.js"></script>

<body>
    <!-- Navbar -->
    <nav id="navbar" class="navbar" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="../../index.html">
                    <img class="invert-logo" src="../../assets/imgs/GD-black.webp"/>
                    <h2 class="title bruno-ace-sc-regular" style="font-size: 1.5rem">Diego</h2>
                </a>
                <div class="navbar-burger burger" data-target="navMenu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </div>
            </div>
            <div id="navMenu" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item" href="../../index.html">Inicio</a>

                    <a class="navbar-item" href="../../views/portafolio.html">Proyectos</a>

                    <a class="navbar-item" href="../../views/portafolio.html#ejercicios">Ejercicios</a>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">Mas</a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="../../views/about.html">
                                Sobre mí
                            </a>
                            <a class="navbar-item" href="../../views/about.html#experiencia-laboral">
                                Experiencia laboral
                            </a>
                            <a class="navbar-item" href="../../views/about.html#contacto">
                                Contacto
                            </a>
                            <hr class="navbar-divider" />
                            <a class="navbar-item" href="../creditos.html">
                                Créditos
                            </a>
                        </div>
                    </div>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">Tema</a>
                        <div class="navbar-dropdown">
                            <a id="tema-sistema" class="navbar-item btn-image">
                                <img class="mr-3 invert-logo" width="20" src="../../assets/svg/system-black.svg"/>
                                Sistema
                            </a>
                            <a id="tema-claro" class="navbar-item btn-image">
                                <img class="mr-3 invert-logo" width="20" src="../../assets/svg/sun-black.svg"/>
                                Claro
                            </a>
                            <a id="tema-obscuro" class="navbar-item btn-image">
                                <img class="mr-3 invert-logo" width="20" src="../../assets/svg/moon-black.svg"/>
                                Obscuro
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- Proyecto -->
    <section class="section">
        <!-- Presentacion -->
        <div class="column is-8 is-offset-2 mb-5">
            <div class="column is-12 mb-5">
                <h1 class="title has-text-centered section-title">Patina con rapidez - Una carrera sobre ruedas</h1>
            </div>
            <div class="columns is-multiline">
                <div class="column is-5">
                    <p>
                        Este corto animado busca mezclar una sensación de fluidez
                        y sinergia con la música utilizada.
                        Mostrando parte del recorrido que realiza un estudiante
                        universitario por C.U. (UNAM), tras haber concluido sus
                        clases en la Facultad de Ciencias.
                    </p>
                </div>
                <div class="column is-7">
                    <figure>
                        <img src="../../assets/imgs/patinando/Preview.webp"/>
                    </figure>
                    <figcaption class="is-size-7 has-text-centered">
                        <b>Preview del corto</b>
                    </figcaption>
                </div>
            </div>
        </div>

        <!-- Tecnologias utilizadas -->
        <div class="column is-8 is-offset-2 mb-5">
            <div class="column is-12 mb-5">
                <h2 class="title is-size-4">Recursos utilizados:</h2>
            </div>
            <div class="column is-12">
                <p>
                    Este proyecto fue principalmente hecho con el programa <b>Blender</b>.
                    Sin embargo, no fue la única herramienta utilizada.
                </p>
                <p>
                    Si bien los modelos fueron creados desde 0 usando Blender, parte de las
                    animaciones finales fueron obtenidas de <b>Mixamo</b>,
                    y el cortometraje final fue editado y renderizado con <b>Kdenlive</b>.
                </p>
            </div>
        </div>

        <!-- Capturas de pantalla -->
        <div class="column is-8 is-offset-2 mb-5">
            <div class="column is-12 mb-5">
                <h2 class="title is-size-4">Capturas de pantalla:</h2>
            </div>
            <div class="column is-12">
                <p>
                    Para lograr la fluidez y sinergia con la música que se buscaba,
                    se tomaron como referencia al videojuego Omno,
                    el cual mantiene una estética low poly, pero que logra transmitir
                    fluidez en su movimiento. Además de videos de skaters donde este
                    sentimiento fuera transmitido.
                </p>
                <p>
                    Para lograr la fluidez y sinergia con la música que se buscaba,
                    se tomaron como referencia al videojuego Omno, el cual mantiene
                    una estética low poly, pero que logra transmitir fluidez en su movimiento.
                    Además de videos de skaters donde esta sensación estuviera presente.
                </p>
            </div>
            <div class="column is-10 is-offset-1 mb-3">
                <figure class="image is-16by9">
                    <iframe
                        class="has-ratio"
                        width="640"
                        height="360"
                        src="https://www.youtube.com/embed/povZQHnOtP8?si=BQ4K6ulJd4Td9eHS"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin"
                        frameborder="0"
                        allowfullscreen>
                    </iframe>
                </figure>
                <figcaption class="is-size-7 has-text-centered">
                    <b>Animatic del corto</b>
                </figcaption>
            </div>
            <div class="column is-12">
                <p>
                    Para mantener una relación acertada con el entorno que se quería
                    representar dentro del corto, se hizo uso de fotos tomas personalmente
                    e imágenes obtenidas de Google Maps. Con base en estas
                    y sin salir del estilo visual buscado, se crearon los modelos que
                    se usarían en la animación.
                </p>
                <p>
                    Una vez que el modelado, animación y edición de los clips renderizados terminó,
                    el resultado final es el mostrado a continuación.
                </p>
            </div>
            <div class="column is-10 is-offset-1 mb-3">
                <figure class="image is-16by9">
                    <iframe
                        class="has-ratio"
                        width="640"
                        height="360"
                        src="https://www.youtube.com/embed/N45KklqDpig?si=CZANgu2QjP2QXaaN"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin"
                        frameborder="0"
                        allowfullscreen>
                    </iframe>
                </figure>
                <figcaption class="is-size-7 has-text-centered">
                    <b>Patina con rapidez - Una carrera sobre ruedas 🛹</b>
                </figcaption>
            </div>
            <div class="columns is-multiline">
                <div class="column is-6">
                    <figure>
                        <img src="../../assets/imgs/patinando/Referencia.webp"/>
                    </figure>
                    <figcaption class="is-size-7 has-text-centered">
                        <b>Imagen de referencia</b>
                    </figcaption>
                </div>
                <div class="column is-6">
                    <figure>
                        <img src="../../assets/imgs/patinando/Modelos.webp"/>
                    </figure>
                    <figcaption class="is-size-7 has-text-centered">
                        <b>Modelos usados</b>
                    </figcaption>
                </div>
                <div class="column is-6">
                    <figure>
                        <img src="../../assets/imgs/patinando/Escenario.webp"/>
                    </figure>
                    <figcaption class="is-size-7 has-text-centered">
                        <b>Escenario del corto 1</b>
                    </figcaption>
                </div>
                <div class="column is-6">
                    <figure>
                        <img src="../../assets/imgs/patinando/Escenario2.webp"/>
                    </figure>
                    <figcaption class="is-size-7 has-text-centered">
                        <b>Escenario del corto 2</b>
                    </figcaption>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer mt-4 card-contet">
        <div class="container">
            <div class="content has-text-centered">
                <div class="mb-5">
                    <h3 class="title is-size-5">Diego Zamora 2025</h3>
                </div>
                <div class="soc">
                    <a
                        href="https://github.com/diegozdgl10"
                        target="_blank">
                        <img class="invert-logo" src="../../assets/svg/github-black.svg" width="35"/>
                    </a>
                    <a
                        href="https://www.linkedin.com/in/diego-arturo-zamora-cruz-7a5355264/"
                        target="_blank"
                        class="mx-5">
                        <img class="invert-logo" src="../../assets/svg/linkedin-black.svg" width="35"/>
                    </a>
                    <a
                        href=".././about.html">
                        <img class="invert-logo" src="../../assets/svg/info-black.svg" width="35"/>
                    </a>
                </div>
                <div class="mt-5">
                    El contenido de este sitio web puede ser distribuido
                    sin necesidad de consultar al propietario, siempre que
                    se haga una cita de la URL del mismo
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
